.store{
    background-color: #FFA600 ;
}
.header {
    border: 1px solid black;
    width: 100%;
    height: 50em;
}
.header-container {
    border: 1px solid blue;
    width: 60%;
    height: 80%;
    margin: 5em 10em 0em 10em;
    background-color: #434445;
    /* display: none; */
}
.server-title {
    border: 1px solid black;
    background-color: #2C2C2D;
    color: azure;
    padding: 1vh;
    font-size: 18px;
}
.server-box {
    background-color: #3A3A3B;
    border: 0px solid red;
    width: 30%;
    height: 5vh;
    margin: 1vh 1vh 0vh 1vh;
    padding: 5vh 7vh 9vh 7vh;
    display: inline-block;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 2vh;
}
img {
    display: inline-block;
}
.server-box:hover {
    background-color: #2C2C2D;
}
/* ServerBox */