@import url('https://fonts.googleapis.com/css2?family=Krub&display=swap');
*{
    margin: 0 ;
    position: relative;
}
body{
    background-color: whitesmoke;
    font-family: 'Krub', sans-serif;
}
.navbar {
    width: 100%;
    background-color: black;
    /* border: 1px solid black; */
    border-radius:0px 0px 10px 10px ;
}
.navbar-container {
    display:block;

}
.navbar-icon {
    padding: 3px;
}
.navbar-text-container {
    border: 0px solid cyan;
    float: right;
}
.navbar-text  {
    border: 0px solid wheat;
    position: relative;
    color: aliceblue;
    padding: 21px;
    float: right;
    text-decoration: none;
    font-size: 19px;
}
.navbar a:hover {
    color: aquamarine;
    text-decoration: overline;
}
.header{
    filter: brightness(90%);
}
.header-body {
    border:0px solid wheat ;
    background-image:url('../image/backgroud.png');
    width: 100%;
    height: 45em;
    position: relative;
}
.header-container {
    border: 0px solid blue;
    width: 99.8%;
    height: 45em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-title {
    border: 0px solid cyan;
    position: relative;
    padding: 10px 10px -10px 10px;
    font-size: 15vh;
    color: white;
    text-shadow: 3px 3px 6px silver;
}
.header-p {
    text-decoration: underline;
    right: 5.9em;
    font-size: 4vh;
    padding: -1em 0em 0em 0em;
}
