.header{
    border: 1px solid black;
    width: 100%;
    height: 70vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.header-container {
    border: 1px solid blue;
    width:50%;
    height: 70vh;
    
}
.login-container {
    border: 1px solid cyan;
    width:50%;
    height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.login-box {
    border: 0px solid red;
    width: 60%;
    height: 50vh;
    display: block;
    align-items: center;
    box-shadow: 9px 9px 6px #DFE1DF;
}
.login-form {
    width: 70%;
    border: 0px solid yellow;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin-top: 2vh;
}
.login-title p {
    font-size: large;
}
.login-label p{
    font-size: 2vh;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}
.login-input {
    width: 91%;
    padding: 1.7vh;
    font-size: 20px;
    display: flex;
    outline: none;
    border-radius: 10px;
    border: 1px solid gainsboro
}
.login-btn {
    width: 30%;
    margin-top: 2vh;
    padding: 1.6vh;
    font-size: 1em;
    border: none;
    background-color: cornflowerblue;
    border-radius:7px ;
    color: #FFFFFF;
    display: flex;
    justify-items: left;
    justify-content: center;
    text-align: center;
}
.login-btn:hover{
    background-color: #5289EC;
    cursor: pointer;
}